:root {
    --blackish: #212121;
    --light-teal: #32E0C4;
    --dark-teal: #0D7377;
    --lite-grey: #EEEEEE;
    --lite-blue: #4586FF;
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
    --bit-darker-grey: #cecece;
}

body {
    font-family: sans-serif;
    background-color: var(--lite-grey);
    color: var(--blackish);
}

.read-color {
    background-image: linear-gradient(135deg, var(--dark-teal) 30%, var(--light-teal) 100%);
}
.not-read-color {
    background-image: linear-gradient(135deg, var(--light-teal) 0%, var(--lite-blue) 50%);
}
.reading-color {
    background-image: linear-gradient(135deg, #e3e3e3 0%, #5d6874 100%);
}

input, textarea, select:not(select.book-card-select-btn) {
    /* reestablish the default browser styles for just the input elements,
    which were eliminated by the CSS reset, but do not include the
    special select els that will be used and colored in the book cards */
    all: revert;
}

.hidden {
    display: none;
}

.open-new-book-form {
    position: fixed;
    right: 25px;
    bottom: 15px;
    width: 50px;
    height: 50px;
    background-color: var(--blackish);
    color: var(--lite-grey);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border: 3px;
    border-style: outset;
    border-color: var(--lite-grey);
}

.open-new-book-form:hover {
    background-color: var(--lite-grey);
    color: var(--blackish);
    border: 3px solid var(--blackish);
    cursor: pointer;
}
.app-title,
.user-display-name {
    font-size: 3rem;
    text-align: center;
    font-weight: 900;
}

.user-display-name {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.logout {
    background-color: var(--blackish);
    color: var(--lite-grey);
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 0 auto;
    display: block;
}
.logout:hover,
.logout:focus {
    background-color: var(--lite-grey);
    color: var(--blackish);
    border: 1px solid var(--blackish);
}

.stats {
    padding: 0.5rem 2rem;
    color: var(--blackish);
    border: 1px solid var(--blackish);
    margin-bottom: 25px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.stats-title {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}
.stat-values {
    margin-left: auto;
}
.stat-row {
    display: flex;
}
legend.sort-legend {
    float: left;
}
.sort-key-bar {
    border: 1px solid var(--blackish);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem;
    gap: 1rem;
    margin-bottom: 25px;
}
select.sort-select, select.sort-order-select  {
    margin-left: 0.5rem !important;
}
.key-square,
.key-square,
.key-square {
    height: 30px;
    width: 30px;
    display: inline-block;
    border-radius: 3px;
    flex-shrink: 0;
}
.keys {
    font-size: 0.8rem;
    display: flex;
    gap: 2rem;
}
.read-key, .not-read-key,
.reading-key {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

article.book-card > p,
.book-card > h2,
.book-card > select,
.book-card > button {
margin-bottom: 0.8rem;
}

article.book-card > *:last-child {
    margin-bottom: 0;
}

.book-card {
    border-radius: 10px;
    padding: 1.5rem 1rem;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px, rgba(0, 0, 0, 0.3) 0px 2px 4px -1px;
}

.remove-book-btn {
    margin-left: auto;
    display: block;
}

.remove-book-btn:hover,
.cancel-new-book-btn:hover {
    font-weight: bold;
    cursor: pointer;
}

.book-form-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.new-book-form {
    background-color: var(--lite-grey);
    margin: 0 auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
    max-width: 450px;
    position: relative;
}
.new-book-form > label {
    display: block;
    margin-bottom: 0.3em;
  }
.new-book-form-title {
    font-size: 2rem;
    margin-top: 0;
}
.new-book-form-submit {
    display: block;
    border: 1px solid var(--blackish);
    padding: 0.5rem;
    width: 100%;
    text-align: center;
}
.new-book-form-submit:hover {
    background-color: var(--bit-darker-grey);
    cursor: pointer;
} 
.new-book-form-submit {
    margin-bottom: 1em;
}
.new-book-form > input,
.new-book-form > select#read-status-select,
select#genres {
    background-color: var(--lite-grey);
    margin-bottom: 2em;
}

select#genres {
    display: block;
}
.cancel-new-book-btn {
    font-size: 2em;
    position: absolute;
    right: 10px;    
    top: 0;
}
.book-shelf {
    display: none;
}
.book-shelf-sign-in {
    margin: 0 auto;
    display: block;
}

@media (min-width: 600px) {
    .book-card {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .sort-key-bar {
        margin-bottom: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }
    .book-shelf {
        display: block;
        width: 250px;
    }
    .stats {
        margin-left: 0;
        margin-right: 0;
    }
}



